<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AgentsManager.SampleIntervalInMinutes" value="60"/>
    <add key="CertificateManager.Location" value=""/>
    <add key="CertificateManager.SearchDirectoryNames" value="2014,2015"/>

  </appSettings>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="Configuration" maxBufferPoolSize="66666666" maxBufferSize="66666666"
          maxReceivedMessageSize="66666666">
          <readerQuotas maxDepth="66666666" maxStringContentLength="66666666"
            maxArrayLength="66666666" maxBytesPerRead="66666666" maxNameTableCharCount="66666666" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.26.1.51:8000/InfoProviderService"
          binding="basicHttpBinding" bindingConfiguration="Configuration"
          contract="RMSServerReference1.IInfoProviderService" name="Configuration" />
      <endpoint address="http://192.168.16.42:8001/InfoProviderService"
          binding="basicHttpBinding" bindingConfiguration="Configuration"
          contract="RMSBridgeReference1.IInfoProviderService" name="Configuration1" />
    </client>
    <services>
      <service  name="InfoProvider.Center.Core.InfoProviderCenter" behaviorConfiguration="InfoProviderCenter_Behavior">
        <endpoint address="" binding="basicHttpBinding" name="Configuration"
          contract="InfoProvider.Center.Contract.IInfoProviderCenter" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8000/InfoProviderCenter" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="InfoProviderCenter_Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug  includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>