<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Appconfig.ServiceName" value=""/>
    <add key="Appconfig.SearchForBridge" value="false"/>
    <add key="Appconfig.SearchForServer" value="false"/>



  </appSettings>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="bindingeeer" maxBufferPoolSize="66666666" maxBufferSize="66666666"
          maxReceivedMessageSize="66666666">
          <readerQuotas maxDepth="66666666" maxStringContentLength="66666666"
            maxArrayLength="66666666" maxBytesPerRead="66666666" maxNameTableCharCount="66666666" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="InfoProviderService_Behavior"
        name="InfoProvider.Agent.Core.InfoProviderService">
        <endpoint address="" binding="basicHttpBinding" name="Configuration"
          contract="InfoProvider.Agent.Contract.IInfoProviderService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8000/InfoProviderService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="InfoProviderService_Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug  includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>